<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						<wbutton (click)="create()">Create</wbutton>

						<healthdrug-selector
							[value]="drug_id"
							(wChange)="drug_id = $event; load()"
						></healthdrug-selector>

						<winput
							[type]="'search'"
							(wChange)="search = $event.toString()"
							(wSubmit)="load()"
						></winput>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						*ngFor="let pharmacy of pharmacies"
						class="documents-main-row"
					>
						<app-mypharmacy
							[pharmacy]="pharmacy"
							(load)="load()"
						></app-mypharmacy>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
