<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						<wbutton (click) = "update(oneclinic)">Update</wbutton>  
					 <wbutton (click) = "delete(oneclinic)">Delete</wbutton>  
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__name">
							{{oneclinic.name}}
						</div>
						<div class="documents__phone">
							{{oneclinic.phone}}
						</div>
						<div class="documents__email">
                            {{oneclinic.email}}
						</div>
						<div class="documents__website">
							{{oneclinic.website}}
						</div>
						<div class="documents__workingHours">
							{{oneclinic.workingHours}}
						</div>
						<div class="documents__licenseNumber">
                            {{oneclinic.licenseNumber}}
						</div>
                        <div class="documents__specialties">
                            {{oneclinic.specialties}}
						</div>
                        <div class="documents__clinicType">
                            {{oneclinic.clinicType}}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<h1>{{oneclinic.name}}</h1>
<h1>{{oneclinic.phone}}</h1>
<h1>{{oneclinic.email}}</h1>
<h1>{{oneclinic.website}}</h1>
<h1>{{oneclinic.workingHours}}</h1>
<h1>{{oneclinic.licenseNumber}}</h1>
<h1>{{oneclinic.specialties}}</h1>
<h1>{{oneclinic.clinicType}}</h1>-->