<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				(click)="isMenuOpen = !isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>

			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div *ngIf="us.role('admin')">
						<wbutton (click)="update(oneclinic)"
							><span translate>Button.Update</span></wbutton
						>
						<wbutton (click)="delete(oneclinic)"
							><span translate>Button.Delete</span></wbutton
						>
					</div>

					<div class="documents-sidebar__socials">
						<a href="https://x.com" target="_blank" aria-label="X">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="currentColor"
							>
								<path
									d="M14.438 10.107L21.543 2h-1.681l-6.014 6.945L9.226 2H3l7.407 11.013L3 22h1.681l6.425-7.417L14.774 22H21l-6.562-11.893zm-2.274 2.63l-.744-1.206L5.1 3.3h3.32l4.543 7.362.744 1.206 6.61 10.727h-3.32l-4.833-8.058z"
								/>
							</svg>
						</a>
						<a
							href="https://t.me/yourchannel"
							target="_blank"
							aria-label="Telegram"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="currentColor"
							>
								<path
									d="M9.05 16.29l-.37 5.22c.53 0 .76-.23 1.04-.5l2.5-2.38 5.18 3.78c.95.52 1.63.25 1.87-.88l3.38-15.91h.01c.31-1.45-.52-2.01-1.48-1.66L1.96 9.58c-1.44.55-1.42 1.35-.25 1.72l5.53 1.73 12.81-8.08c.6-.37 1.14-.17.69.21z"
								/>
							</svg>
						</a>
					</div>
				</div>
			</div>

			<div class="documents-main">
				<div class="patient-card">
					<div class="patient-grid">
						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Name</span>
							</div>
							<span class="icon">
								<!-- name -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.name }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Description</span>
							</div>
							<span class="icon">
								<!-- description -->
								<svg viewBox="0 0 24 24">
									<path
										d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h12v2H3v-2z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.description }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Phone</span>
							</div>
							<span class="icon">
								<!-- phone -->
								<svg viewBox="0 0 24 24">
									<path
										d="M6.6 10.8a15.07 15.07 0 0 0 6.6 6.6l2.2-2.2c.3-.3.8-.4 1.2-.3 1.3.4 2.7.6 4.1.6.7 0 1.3.6 1.3 1.3V20c0 .7-.6 1.3-1.3 1.3C9.4 21.3 2.7 14.6 2.7 6.3 2.7 5.6 3.3 5 4 5h3c.7 0 1.3.6 1.3 1.3 0 1.4.2 2.8.6 4.1.1.4 0 .9-.3 1.2l-2.2 2.2z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.phone }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Email</span>
							</div>
							<span class="icon">
								<!-- email -->
								<svg viewBox="0 0 24 24">
									<path
										d="M4 4h16c1.1 0 2 .9 2 2v1.2l-10 6.3-10-6.3V6c0-1.1.9-2 2-2zm0 4.7V18c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8.7l-8 5.1-8-5.1z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.email }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Website</span>
							</div>
							<span class="icon">
								<!-- website -->
								<svg viewBox="0 0 24 24">
									<path
										d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.website }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Working Hours</span>
							</div>
							<span class="icon">
								<!-- working hours -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 8v5h5v-2h-3V8h-2zm0-6C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.workingHours }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.License Number</span>
							</div>
							<span class="icon">
								<!-- license -->
								<svg viewBox="0 0 24 24">
									<path
										d="M6 2v6h2V4h8v16H8v-4H6v6h12V2H6z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.licenseNumber }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Specialties</span>
							</div>
							<span class="icon">
								<!-- specialties -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.specialties }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Clinic.Clinic Type</span>
							</div>
							<span class="icon">
								<!-- type -->
								<svg viewBox="0 0 24 24">
									<path
										d="M20 6H4v12h16V6zM4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2z"
									/>
								</svg>
							</span>
							<span>{{ oneclinic.clinicType }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
