<div class="wrapper" id="wrapper">
	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<li class="nav__li">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/doctorspage"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">medical_services </span>
				</a>
			</li>

			<li class="nav__li">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/allplaces"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">place</span>
				</a>
			</li>

			<li class="nav__li">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/pharmacy"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">local_pharmacy</span>
				</a>
			</li>

			<li class="nav__li">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/clinicspage"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">local_hospital</span>
				</a>
			</li>

			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/mypatients"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">face</span>
				</a>
			</li>

			<li class="nav__li _burger" (click)="showSidebar = !showSidebar">
				<a class="nav__toggle" [class._active]="showSidebar">
					<span class="nav__toggle-line"></span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main" [class.showTable]="showSidebar">
		<div class="fade" [@showInOut]="showSidebar" *ngIf="showSidebar"></div>
		<div class="nav__burger _active" [class._active]="showSidebar">
			<div class="nav__burger-list">
				<div class="theme-switch">
					<span
						class="material-icons"
						*ngIf="!us.mode"
						(click)="us.setMode('dark')"
					>
						dark_mode
					</span>
					<span
						class="material-icons"
						*ngIf="us.mode"
						(click)="us.setMode()"
					>
						light_mode
					</span>
				</div>
				<a
					class="nav__burger-link nav__burger-user"
					routerLink="/profile"
				>
					<img
						[src]="forceAvatarUrl || us.user.thumb ? url + us.user.thumb : 'assets/defaultProfile.png'"
						(error)="forceAvatarUrl = 'assets/defaultProfile.png'"
						alt="Profile Picture"
						class="avatar__img"
						height="50"
						width="50"
					/>
					<div class="name">{{us.user.name || "Profile"}}</div>
				</a>
				<hr />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/users"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">people</span>
					<span translate>Theme.Users</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/forms"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">backup_table</span>
					<span translate>Theme.Forms</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/translates"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">translate</span>
					<span translate>Theme.Translates</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/patients"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">face</span>
					<span translate>Theme.Patients</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/records"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">assignment</span>
					<span translate>Theme.Records</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/drugs"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">medication_liquid</span>
					<span translate>Theme.Drugs</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/diseases"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">sick</span>
					<span translate>Theme.Diseases</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/treatment"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">medication</span>
					<span translate>Theme.Treatment</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/symptoms"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">mood_bad</span>
					<span translate>Theme.Symptoms</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/analysis"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">analytics</span>
					<span translate>Theme.Analysis</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/clinics"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">local_hospital</span>
					<span translate>Theme.Clinics</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/doctors"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">health_and_safety</span>
					<span translate>Theme.Doctors</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/comments"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">comment</span>
					<span translate>Theme.Comments</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/pharmacies"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">local_pharmacy</span>
					<span translate>Theme.Pharmacies</span>
				</a>

				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/places"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">place</span>
					<span translate>Theme.Places</span>
				</a>

				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/trade"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">store</span>
					<span translate>Theme.Trade</span>
				</a>

				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/links"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">link</span>
					<span translate>Theme.Link</span>
				</a>
				<hr />

				<!--<a
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="_activeLink"
		routerLink="/doctorspage"
		class="nav__burger-link"
		(click)="hideSidebar()"
	>
		<span class="material-icons">medical_services</span>
		<span translate>Theme.Doctors</span>
	</a>

	<a
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="_activeLink"
		routerLink="/pharmacy"
		class="nav__burger-link"
		(click)="hideSidebar()"
	>
		<span class="material-icons">local_pharmacy</span>
		<span translate>Theme.Pharmacies</span>
	</a>

	<a
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="_activeLink"
		routerLink="/allcomments"
		class="nav__burger-link"
		(click)="hideSidebar()"
	>
		<span class="material-icons">comment</span>
		<span translate>Theme.Comments</span>
	</a>

	<a
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="_activeLink"
		routerLink="/clinicspage"
		class="nav__burger-link"
		(click)="hideSidebar()"
	>
		<span class="material-icons">local_hospital</span>
		<span translate>Theme.Clinics</span>
	</a>

	<a
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="_activeLink"
		routerLink="/allplaces"
		class="nav__burger-link"
		(click)="hideSidebar()"
	>
		<span class="material-icons">place</span>
		<span translate>Theme.Places</span>
	</a> -->

				<hr *ngIf="us.role('admin')" />
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
