<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				(click)="isMenuOpen = !isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>

			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<!-- <div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>

					<div class="documents-sidebar__title">
						Title of sidebar...
					</div> -->

					<div class="documents-sidebar__description">
						<div *ngIf="us.role('admin')">
							<wbutton (click)="update(oneplace)"
								><span translate>Button.Update</span></wbutton
							>
							<wbutton (click)="delete(oneplace)"
								><span translate>Button.Delete</span></wbutton
							>
						</div>
					</div>

					<div class="documents-sidebar__map-link">
						<a
							[target]="'_blank'"
							[href]="'https://www.google.com/maps/search/?api=1&query=' + oneplace.name + ' ' + oneplace.address"
						>
							<span translate>Place.View on Google Maps</span>
						</a>
					</div>

					<div class="documents-sidebar__socials">
						<a href="https://x.com" target="_blank" aria-label="X">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="currentColor"
							>
								<path
									d="M14.438 10.107L21.543 2h-1.681l-6.014 6.945L9.226 2H3l7.407 11.013L3 22h1.681l6.425-7.417L14.774 22H21l-6.562-11.893zm-2.274 2.63l-.744-1.206L5.1 3.3h3.32l4.543 7.362.744 1.206 6.61 10.727h-3.32l-4.833-8.058z"
								/>
							</svg>
						</a>
						<a
							href="https://t.me/yourchannel"
							target="_blank"
							aria-label="Telegram"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								fill="currentColor"
							>
								<path
									d="M9.05 16.29l-.37 5.22c.53 0 .76-.23 1.04-.5l2.5-2.38 5.18 3.78c.95.52 1.63.25 1.87-.88l3.38-15.91h.01c.31-1.45-.52-2.01-1.48-1.66L1.96 9.58c-1.44.55-1.42 1.35-.25 1.72l5.53 1.73 12.81-8.08c.6-.37 1.14-.17.69.21z"
								/>
							</svg>
						</a>
					</div>
				</div>
			</div>

			<div class="documents-main">
				<div class="patient-card">
					<div class="patient-grid">
						<div class="info-block">
							<div class="info-block__title">
								<span translate>Place.Name</span>
							</div>
							<span class="icon">
								<!-- name icon (user) -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"
									/>
								</svg>
							</span>
							<span>{{ oneplace.name }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Place.Description</span>
							</div>
							<span class="icon">
								<!-- description icon -->
								<svg viewBox="0 0 24 24">
									<path
										d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h12v2H3v-2z"
									/>
								</svg>
							</span>
							<span>{{ oneplace.description }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Place.Address</span>
							</div>
							<span class="icon">
								<!-- location icon -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 2a7 7 0 0 0-7 7c0 5.2 7 13 7 13s7-7.8 7-13a7 7 0 0 0-7-7zm0 9.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z"
									/>
								</svg>
							</span>
							<span>{{ oneplace.address }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Place.Latitude</span>
							</div>
							<span class="icon">
								<!-- latitude icon -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 3c-4 0-8 3-8 8 0 4 4 9 8 9s8-5 8-9c0-5-4-8-8-8zm0 14c-2.5 0-5-3.5-5-5s2.5-5 5-5 5 3.5 5 5-2.5 5-5 5z"
									/>
								</svg>
							</span>
							<span>{{ oneplace.latitude }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Place.Longitude</span>
							</div>
							<span class="icon">
								<!-- longitude icon -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 3c-4 0-8 3-8 8 0 4 4 9 8 9s8-5 8-9c0-5-4-8-8-8zm0 14c-2.5 0-5-3.5-5-5s2.5-5 5-5 5 3.5 5 5-2.5 5-5 5z"
									/>
								</svg>
							</span>
							<span>{{ oneplace.longitude }}</span>
						</div>

						<div class="info-block">
							<div class="info-block__title">
								<span translate>Place.Place Type</span>
							</div>
							<span class="icon">
								<!-- placeType icon -->
								<svg viewBox="0 0 24 24">
									<path
										d="M12 2L2 7l10 5 10-5-10-5zm0 12l-6 3v5l6-3 6 3v-5l-6-3z"
									/>
								</svg>
							</span>
							<span>{{ oneplace.placeType }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
