<div class="wrapper-com">
	<div>
		<h2>Document Preview:</h2>
		<span>{{submition|json}}</span>
	</div>
	<wform [config]="form" [submition]="submition"></wform>

	<winput></winput>

	<winput type="textarea"></winput>

	<winput type="radio" [items]="['banana', 'lemon', 'lime']"></winput>

	<winput type="checkbox" label="Hello World"></winput>

	<winput type="password"></winput>

	<winput type="email"></winput>

	<winput type="number"></winput>

	<winput type="tel"></winput>

	<winput type="url"></winput>

	<winput type="search"></winput>

	<winput type="date"></winput>

	<winput type="datetime-local"></winput>

	<winput type="month"></winput>

	<winput type="week"></winput>

	<winput type="time"></winput>

	<winput type="color"></winput>

	<winput type="datetime"></winput>

	<winput type="range"></winput>

	<wbutton type="primary">Hello World</wbutton>

	<wbutton type="secondary">Hello World</wbutton>

	<wbutton type="success">Hello World</wbutton>

	<wbutton type="danger">Hello World</wbutton>

	<wbutton type="warning">Hello World</wbutton>

	<wbutton type="info">Hello World</wbutton>

	<wbutton type="light">Hello World</wbutton>

	<wbutton type="dark">Hello World</wbutton>

	<wbutton type="link">Hello World</wbutton>

	<ngx-file></ngx-file>
</div>
