<div class="documents__description">{{onepatienthistory.name}}</div>
<div class="documents__description">{{onepatienthistory.description}}</div>
<div class="documents__diagnosis">{{onepatienthistory.diagnosis}}</div>
<div class="documents__allergy">{{onepatienthistory.allergy}}</div>
<div class="documents__result">{{onepatienthistory.result}}</div>
<div class="documents__treatmentType">{{onepatienthistory.treatmentType}}</div>
<div class="documents__date">{{onepatienthistory._id|mongodate|date:'d MMM y'}}</div>