<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						<wbutton (click) = "update(onepatienthistory)">Update</wbutton>  
						 <wbutton (click) = "delete(onepatienthistory)">Delete</wbutton>  
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__name">
							{{onepatienthistory.name}}
						</div>
						<div class="documents__description">
							{{onepatienthistory.description}}
						</div>
						<div class="documents__diagnosis">
							{{onepatienthistory.diagnosis}}
						</div>
						<div class="documents__allergy">
							{{onepatienthistory.allergy}}
						</div>
						<div class="documents__result">
							{{onepatienthistory.result}}
						</div>
						<div class="documents__treatmentType">
							{{onepatienthistory.treatmentType}}
						</div>
						<div class="documents__visitDate">
							{{onepatienthistory._id|mongodate|date:'d MMM y'}}
						</div>
						<!-- <div class="documents__treatmentType">
							{{onepatienthistory.visitDate | date:'dd/MM/yyyy'}}
						</div> -->
						
						  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
